.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;

  text-align: center;
}

.app-header {
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-title {
  margin: 0;
  font-size: 24px;
}


.user-info {
  display: flex;
  align-items: center;
}
  
.logout-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  margin-left: 10px;
}

.app-main {
  flex-grow: 1;
  padding: 20px;
  background-color: #f8f9fa;
  font-size: 16px;
  cursor: pointer;
}

/* Add styles for ClockInOut component here */
.ClockInOut {
  max-width: 400px;
  margin: 0 auto;
}

.ClockInOut button {
  width: 45%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.ClockInOut button:first-child {
  background-color: #28a745;
  color: white;
  margin-right: 10px;
}

.ClockInOut button:last-child {
  background-color: #dc3545;
  color: white;
}

.ClockInOut ul {
  list-style-type: none;
  padding: 0;
}

.ClockInOut li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #e9ecef;
  border-radius: 5px;
}

.ClockInOut h1 {
  margin-bottom: 20px;
}



.login-container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 30px;
  width: 350px;
  margin: 50px auto;
  box-sizing: border-box;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-title {
  text-align: center;
  color: #333;
  margin-bottom: 25px;
}

.login-input {
  background-color: hsl(0, 0%, 91%);
  border: none;
  border-radius: 5px;
  padding: 15px;
  font-size: 16px;
  width: 90%;
}

.login-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.login-error {
  color: #dc3545;
  text-align: center;
  margin-top: 10px;
}
